*{
    padding: 0;
    margin: 0;
}

.clearpix::after{
    content: "";
    display: block;
    clear: both;
}
.nn{
    background: rgb(253, 252, 252);
    border-bottom: 1px solid black ;
}
img{
    max-width: 100%;
    
    
}
.trivago-left{
    float: left;
    width: 30%;
    max-width: 63px;
    margin-left: 15px;

}

.trivago-reigt{
    float: right;
    width: 70%;
    
}
.trivago-reigt ul{
    text-align: right;
    margin-right: 25px;
    
    
}
.trivago-reigt ul li{
    display: inline-block;
    border-right: 1px solid black;
    line-height:33px ;
    background-color: rgb(250, 246, 246);
    margin-left: -4px ;
    transition: .5s;
}
.trivago-reigt ul li:first-child a{
    border-left: 1px solid black;
}
.trivago-reigt ul li a{
    display: block;
    text-decoration: none;
    color: rgb(3, 3, 3);
    padding: 0px 10px ;
    font-size: 17px;
    transition: .5s;
}
.trivago-reigt ul li a:hover{
    color: rgb(7, 100, 175);
}
.trivago-reigt ul li:hover{
    
}



.chathil{
    background-image: url(./weekend_hero_image.jpg ) ;
    padding: 120px;
    background-size: cover;
    
}
.chathil h2{
    color: rgb(253, 252, 252);
   font-size: 70px;
   font-family: "proxima nova";
   margin-top: 10px;
}





.dog{
    background-color: rgb(254, 254, 255);
    text-align: center;
    max-width: 430px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: -25px;
    border: .5px solid black;
    box-shadow: 0px 0px 18px rgb(59, 57, 57);
    }
    .dog ul {
    padding: 6px 0;

    
    }
    .dog ul li{
    margin-left: -4px;
    display: inline;
    
    line-height: 30px;
    
    }
    .dog ul li a{
        color: rgb(255, 6, 6);
        padding: 6px 22px;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
       border-right: 1px solid rgb(109, 107, 107, .6); 
        font-family: "roboto";
    }
    .dog ul li:first-child a{
        border-left:  1px solid rgb(109, 107, 107, .6);
    }
    .dog ul li a:hover{
    color: black;
    }

    .dog ul li:hover > a{
        
    }
    




.big h1{
    text-align: center;
    font-family: "roboto";
    padding-top: 10px;
    margin-top: 10px;
}
.big p{
    text-align: center;
    font-family: "roboto";
    margin-top: 10px ;
}
.row{

}
.row col{
border: 1px solid black;
}


.dropdown{
    display: inline-block;
    padding: 6px 0;
}
@media not all and (min-width:0px) and (max-width:479px){.fresnel-at-xxs{display:none!important;}}
    @media not all and (min-width:480px) and (max-width:599px){.fresnel-at-xs{display:none!important;}}
    @media not all and (min-width:600px) and (max-width:719px){.fresnel-at-sm{display:none!important;}}
    @media not all and (min-width:720px) and (max-width:979px){.fresnel-at-md{display:none!important;}}
    @media not all and (min-width:980px) and (max-width:1279px){.fresnel-at-lg{display:none!important;}}
    @media not all and (min-width:1280px) and (max-width:1439px){.fresnel-at-xlg{display:none!important;}}
    @media not all and (min-width:1440px){.fresnel-at-xxlg{display:none!important;}}
    @media not all and (max-width:479px){.fresnel-lessThan-xs{display:none!important;}}
    @media not all and (max-width:599px){.fresnel-lessThan-sm{display:none!important;}}
    @media not all and (max-width:719px){.fresnel-lessThan-md{display:none!important;}}
    @media not all and (max-width:979px){.fresnel-lessThan-lg{display:none!important;}}
    @media not all and (max-width:1279px){.fresnel-lessThan-xlg{display:none!important;}}
    @media not all and (max-width:1439px){.fresnel-lessThan-xxlg{display:none!important;}}
    @media not all and (min-width:480px){.fresnel-greaterThan-xxs{display:none!important;}}
    @media not all and (min-width:600px){.fresnel-greaterThan-xs{display:none!important;}}
    @media not all and (min-width:720px){.fresnel-greaterThan-sm{display:none!important;}}
    @media not all and (min-width:980px){.fresnel-greaterThan-md{display:none!important;}}
    @media not all and (min-width:1280px){.fresnel-greaterThan-lg{display:none!important;}}
    @media not all and (min-width:1440px){.fresnel-greaterThan-xlg{display:none!important;}}
    @media not all and (min-width:0px){.fresnel-greaterThanOrEqual-xxs{display:none!important;}}
    @media not all and (min-width:480px){.fresnel-greaterThanOrEqual-xs{display:none!important;}}
    @media not all and (min-width:600px){.fresnel-greaterThanOrEqual-sm{display:none!important;}}
    @media not all and (min-width:720px){.fresnel-greaterThanOrEqual-md{display:none!important;}}
    @media not all and (min-width:980px){.fresnel-greaterThanOrEqual-lg{display:none!important;}}
    @media not all and (min-width:1280px){.fresnel-greaterThanOrEqual-xlg{display:none!important;}}
    @media not all and (min-width:1440px){.fresnel-greaterThanOrEqual-xxlg{display:none!important;}}
    @media not all and (min-width:0px) and (max-width:479px){.fresnel-between-xxs-xs{display:none!important;}}
    @media not all and (min-width:0px) and (max-width:599px){.fresnel-between-xxs-sm{display:none!important;}}
    @media not all and (min-width:0px) and (max-width:719px){.fresnel-between-xxs-md{display:none!important;}}
    @media not all and (min-width:0px) and (max-width:979px){.fresnel-between-xxs-lg{display:none!important;}}
    @media not all and (min-width:0px) and (max-width:1279px){.fresnel-between-xxs-xlg{display:none!important;}}
    @media not all and (min-width:0px) and (max-width:1439px){.fresnel-between-xxs-xxlg{display:none!important;}}
    @media not all and (min-width:480px) and (max-width:599px){.fresnel-between-xs-sm{display:none!important;}}
    @media not all and (min-width:480px) and (max-width:719px){.fresnel-between-xs-md{display:none!important;}}
    @media not all and (min-width:480px) and (max-width:979px){.fresnel-between-xs-lg{display:none!important;}}
    @media not all and (min-width:480px) and (max-width:1279px){.fresnel-between-xs-xlg{display:none!important;}}
    @media not all and (min-width:480px) and (max-width:1439px){.fresnel-between-xs-xxlg{display:none!important;}}
    @media not all and (min-width:600px) and (max-width:719px){.fresnel-between-sm-md{display:none!important;}}
    @media not all and (min-width:600px) and (max-width:979px){.fresnel-between-sm-lg{display:none!important;}}
    @media not all and (min-width:600px) and (max-width:1279px){.fresnel-between-sm-xlg{display:none!important;}}
    @media not all and (min-width:600px) and (max-width:1439px){.fresnel-between-sm-xxlg{display:none!important;}}
    @media not all and (min-width:720px) and (max-width:979px){.fresnel-between-md-lg{display:none!important;}}
    @media not all and (min-width:720px) and (max-width:1279px){.fresnel-between-md-xlg{display:none!important;}}
    @media not all and (min-width:720px) and (max-width:1439px){.fresnel-between-md-xxlg{display:none!important;}}
    @media not all and (min-width:980px) and (max-width:1279px){.fresnel-between-lg-xlg{display:none!important;}}
    @media not all and (min-width:980px) and (max-width:1439px){.fresnel-between-lg-xxlg{display:none!important;}}
