*{
    margin: 0;
    padding: 0;}
.zz{

}
.vv{text-align: center;
    border: 1px solid;
    position: relative;
    margin-top: 100px;
    box-shadow: 0 0 8px black;
    border-radius: 5px;
}
.nn{

}
.bb h1{
    text-align: center;
    color: white;
    border-bottom: 1px solid black;
    display: block;
    padding: 8px 14px;
    background-color: rgb(17, 157, 250);
    border-radius:4px 4px 0  0 ;
    font-family: 'roboto-slab';
    max-width: 100%;
    font-size: auto;
    
}
.dd{
    

}
.ma{
background: rgb(255, 255, 255);

}
.ll{
background-color: rgb(17, 157, 250);
}
.naim{
    border-bottom: 1px solid black ;
}
.naim input{
    border: 1px solid black;
    padding: 4px;
    border-radius: 3px;
    max-width: 100%;
}
.dog{
    padding: 10px;
    max-width: 100%;
}
.jog{
    padding: 8px 0;
    background-color: rgb(40, 126, 224) ;
    border-radius: 0 0 4px 4px;
}
.jog input{
    border: 1px solid rgb(255, 254, 254);
    border-radius: 3px;
    padding: 4px 10px;
    transition: .5s;
    background-color: rgb(40, 126, 224);
    color: rgb(8, 8, 8);
    font-family: 'roboto-slab';
}
.jog input:hover{
    background-color: rgb(51, 117, 192);
    color: rgb(255, 249, 249);
}
@media screen and (max-width:800px){
    .naim input{
        size: 10px 60px;
    }
    .bb h1{
        font-size: 50px;
        background-color: black;
    }
    .jog{
        background-color: black;
    }
    .jog input{
        border: 1px solid rgb(255, 254, 254);
        border-radius: 3px;
        padding: 4px 10px;
        transition: .5s;
        background-color: rgb(3, 2, 2);
        color: rgb(255, 255, 255);
        font-family: 'roboto-slab';}
        .jog input:hover{
          background-color: rgb(87, 84, 84);
        }
}

@media screen and (max-width:280px){
    .naim input{
        size: 10px 60px;
    }
    .bb h1{
        font-size: 30px;
        background-color: rgb(128, 125, 125);
    }
    .jog input{
        border: 1px solid rgb(255, 254, 254);
        border-radius: 3px;
        padding: 4px 10px;
        transition: .5s;
        background-color: rgb(128, 125, 125);
        color: rgb(255, 255, 255);
        font-family: 'roboto-slab';}
        .jog input:hover{
          background-color: rgb(133, 96, 96);
        }
        .jog{
            background-color: rgb(128, 125, 125);
        }
}
@media screen and (max-width:150px){
    .naim input{
        size: 10px 60px;
    }
    .bb h1{
        font-size: 20px;
        background-color: rgb(179, 141, 141);
    }
    .jog input{
        border: 1px solid rgb(255, 254, 254);
        border-radius: 3px;
        padding: 4px 10px;
        transition: .5s;
        background-color: rgb(179, 141, 141);
        color: rgb(255, 255, 255);
        font-family: 'roboto-slab';
    
}
.jog{
    background-color: rgb(179, 141, 141);
}

@media screen and (max-width:2000px){
    .zz{
       
    }
    .naim input{
        size: 10px 60px;
    }
    .bb h1{
        font-size: 20px;
        background-color: rgb(179, 141, 141);
    }
    .jog input{
        border: 1px solid rgb(255, 254, 254);
        border-radius: 3px;
        padding: 4px 10px;
        transition: .5s;
        background-color: rgb(179, 141, 141);
        color: rgb(255, 255, 255);
        font-family: 'roboto-slab';
    
}
.jog{
    background-color: rgb(179, 141, 141);
}
}
}